.hamburger-menu{
    cursor:pointer;
}
@media(min-width:768px){
  .hamburger-menu{
    display:none;
  }
}

.bar{
    display:block;
    background-color:black;
    height:5px;
    width:40px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu.active .bar:nth-child(2){
  opacity:0;
}
.hamburger-menu.active .bar:nth-child(1){
  transform: translateY(10px) rotate(45deg);
}
.hamburger-menu.active .bar:nth-child(3){
  transform: translateY(-10px) rotate(-45deg);
}