*{  
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
:root{
    --main-color:#FF6868;
    --secondary-color: #FF9DF5;
    --tertiary-color:#97EA9F;
    --found-color:#32a852;
    --border-color:#555555;
    --header-height:75px;
    --remaining-page-height: calc(100vh - var(--header-height));
    --boxes-min-width:235px;
}
body{
    font-family: 'Roboto';
}







