.my-button{
    font-family:'Poppins';
    font-weight:bold;
    font-size:18px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    width:335px;
    height:50px;
    transition:0.7s ease;
    cursor:pointer;
}

.my-button.secondary{
    background-color: var(--tertiary-color);
}

.my-button.border{
    color:var(--main-color);
    background:transparent;
    border: solid 3px var(--main-color);
    border-radius: 4px;
}

.my-button:hover{
    color:white;
}
.my-button.border:hover{
    background-color: var(--main-color);
    color:white;
}