.main,.secondary,.border{
    font-family:'Poppins';
    font-weight:bold;
    font-size:18px;
    background-color: var(--secondary-color);
    border-radius: 4px;
    max-width:335px;
    width: 100%;
    height:50px;
    transition:0.7s ease;
    cursor:pointer;
}

.secondary{
    background-color: var(--tertiary-color);
}

.border{
    color:var(--main-color);
    background:transparent;
    border: solid 3px var(--main-color);
    border-radius: 4px;
}

.main:hover{
    color:white;
}
.border:hover{
    background-color: var(--main-color);
    color:white;
}