.disabled{
    color:gray
}
.thin,.error{
    font-weight: 400;
}


.error{
    color:red;
    display: block;
}

.success{
    color:var(--success-color);
}

.underline{
    text-decoration:underline;
    color:blue;
    cursor:pointer;
}